<script lang="ts">
  import { LocalPersistance } from "$lib/local/stores/local.persistance";
  import Icon from "$lib/tidy/elements/Icon.svelte";
  import Button from "$lib/tidy/elements/button/Button.svelte";
  import { toasts } from "$lib/tidy/stores/notification.store";
  import { ButtonVariant } from "$lib/tidy/types/button.type";
  import { AlertType } from "$lib/tidy/types/notification.type";
  import { Size } from "$lib/tidy/types/size.enum";
  import { isEmptyArray, isValidArray } from "$lib/tidy/utils/obj.utils";
  import { generateUID } from "$lib/tidy/utils/utils";
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  let fileInput: HTMLInputElement;
  let isProcessingImport: boolean = false;
  let fileName: string = "";
  let fileSize: number = 0;
  let jsonData: any;
  function isValidImportData(rawJson: any) {
    return (
      rawJson &&
      isValidArray(rawJson.goals) &&
      isValidArray(rawJson.tags) &&
      isValidArray(rawJson.logs) &&
      isValidArray(rawJson.sessions) &&
      !(
        isEmptyArray(rawJson.goals) &&
        isEmptyArray(rawJson.tags) &&
        isEmptyArray(rawJson.logs) &&
        isEmptyArray(rawJson.sessions)
      )
    );
  }
  async function importData() {
    if (!fileInput.files) return;
    const file = fileInput.files[0];
    if (!file) return;
    const reader = new FileReader();
    reader.onload = (event) => {
      try {
        const importedData = event.target?.result;
        if (!importedData) return;
        jsonData = JSON.parse(importedData as string);
        console.log({ jsonData });
        if (isValidImportData(jsonData)) {
          fileName = file.name;
          fileSize = file.size;
          console.log({ fileName, fileSize });
        }
      } catch (error) {
        console.error("Error parsing JSON file:", error);
        isProcessingImport = false;
        toasts.error("Invalid file selected");
      }
    };
    reader.readAsText(file);
  }
  async function processImport() {
    isProcessingImport = true;
    const response = await new LocalPersistance().importData(
      jsonData,
      fileName,
      fileSize
    );
    if (response) {
      toasts.success("Data imported successfully");
      dispatch("refresh");
      resetFile();
    } else {
      toasts.error("Error importing data. Please try again");
    }
    isProcessingImport = false;
  }

  function resetFile() {
    fileInput.value = "";
    fileName = "";
    jsonData = null;
  }
</script>

<div
  class="flex w-full items-center justify-between gap-4 p-4 px-6 bg-bgs2 rounded-md"
>
  <div class="flex items-center gap-2">
    <input
      type="file"
      id="fileInput"
      bind:this={fileInput}
      on:change={importData}
      accept=".json"
      class="hidden"
    />
    <label for="fileInput" class="bg-bgs3 rounded-md py-2 px-3 cursor-pointer">
      Choose File
    </label>
    {#if fileName}
      {fileName}
      <Icon icon="cross" on:click={resetFile} />
    {/if}
  </div>

  <Button
    size={Size.sm}
    on:click={processImport}
    type={ButtonVariant.PRIMARY}
    label={isProcessingImport ? "Uploading..." : "Import"}
    isLoading={isProcessingImport}
  />
</div>
