<script lang="ts">
  import Text from "$lib/tidy/elements/text/Text.svelte";
  import { TextStyle } from "$lib/tidy/types/text.enum";
  import FocusItemList from "../elements/focusitem/FocusItemList.svelte";
  import IntervalBar from "$lib/local/components/focus/elements/intervalbar/IntervalBar.svelte";
  import view from "$lib/tidy/stores/view.store";
  import type { ButtonParams } from "$lib/tidy/types/button.type";
  import FloatingButton from "$lib/tidy/elements/button/FloatingButton.svelte";
  import AdvancedPortrait from "./AdvancedPortrait.svelte";
  import Divider from "$lib/tidy/elements/Divider.svelte";
  import { Orientation } from "$lib/tidy/types/direction.enum";
  import { ColorStrength } from "$lib/tidy/types/appearance.type";
  import TopBarActions from "../elements/TopBarActions.svelte";
  import TimeComposition from "./composition/TimeComposition.svelte";
  import SimpleDigitalClock from "../../clocks/SimpleDigitalClock.svelte";
  export let action: ButtonParams;
  $: isExpandedMode =
    ($view.landscapiness > 1.4 && $view.scale > 1) || $view.scale > 1.3;
  $: isExtraLargeScreen = $view.landscapiness > 1.5 && $view.scale > 1.5;
</script>

<div class="relative flex flex-col w-full h-full p-4">
  <div class="flex justify-between w-full">
    <Text style={TextStyle.PANEL_HEADING} content="Advanced" />
    <!-- <TopBarActions {isExpandedMode} /> -->
  </div>
  {#if !isExpandedMode}
    <AdvancedPortrait {action} />
  {:else}
    <div class="flex w-full flex-grow pb-10">
      <div class="flex flex-col gap-8 py-4 w-1/2 max-w-xl h-full">
        <IntervalBar />
        <TimeComposition {isExpandedMode} />
      </div>
      <div class="flex flex-col justify-center h-full px-4">
        <div class="h-full">
          <Divider
            orientation={Orientation.Vertical}
            colorStrength={ColorStrength.Subtle}
          />
        </div>
      </div>
      <div class="relative flex flex-col h-full py-4 w-1/2">
        <div>
          <Text style={TextStyle.SECTION_HEADING} content="Focus Items" />
        </div>
        <FocusItemList />
      </div>
      {#if isExtraLargeScreen}
        <div class="w-1/2 h-full p-4 flex items-center justify-center">
          <SimpleDigitalClock />
        </div>
      {/if}
    </div>
    <!-- TODO fix - causing shift of the right panel after session finish -->
    <FloatingButton params={action} />
  {/if}
</div>
