<script lang="ts">
  import { FocusPersistance } from "$lib/local/stores/focus.persistance";
  import Markdown from "$lib/tidy/components/markdown/Markdown.svelte";
  import EmptyStatusView from "$lib/tidy/elements/feedback/EmptyStatusView.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { isValidMarkdown } from "$lib/tidy/utils/text.utils";
  import { onMount } from "svelte";
  import LogIntervalBar from "./LogIntervalBar.svelte";
  import LogTotals from "./LogTotals.svelte";
  import PanelSwitcher from "$lib/tidy/elements/switcher/PanelSwitcher.svelte";
  import { PanelSwitcherStyle } from "$lib/tidy/types/switcher.enum";
  import { transformFocusItems } from "$lib/local/utils/session.utils";
  import Text from "$lib/tidy/elements/text/Text.svelte";
  import { TextStyle } from "$lib/tidy/types/text.enum";
  import ModalFooter from "$lib/tidy/components/modal/ModalFooter.svelte";
  import { ButtonVariant } from "$lib/tidy/types/button.type";
  import modalEvent from "$lib/tidy/components/modal/modal.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { runAction } from "$lib/tidy/utils/utils";
  import FocusItem from "../../focus/elements/focusitem/FocusItem.svelte";
  const focusPersistance = new FocusPersistance();
  export let id: string;
  export let log: any = undefined;
  let selectedTab: "Summary" | "Notes" = "Summary";
  let isLoadingState: boolean = false;
  let focusItems: any[] = [];
  onMount(async () => {
    await refresh();
  });
  async function refresh() {
    isLoadingState = true;
    const response = await focusPersistance.fetchSession(id);
    console.log("session log response", response);
    if (response && response.id) {
      log = response;
      if (log.tasks) focusItems = transformFocusItems(log.tasks);
      console.log("focusItems", { focusItems, goals: log.goals });
      focusItems = focusItems.map((item) => {
        const goal = log.goals.find((x: any) => x.id === item.goalId);
        item.label = goal.label ?? item.label;
        item.color = goal.color ?? goal.parent.color ?? item.color;
        return item;
      });
    }
    isLoadingState = false;
  }
</script>

{#if log}
  <div class="flex flex-col gap-4 px-2 flex-grow w-full items-center">
    <LogIntervalBar {log} />
    <div class="flex flex-col gap-6 w-full flex-grow items-center">
      <div>
        <PanelSwitcher
          items={["Summary", "Notes"]}
          style={PanelSwitcherStyle.TRAIN}
          size={Size.sm}
          bind:value={selectedTab}
        />
      </div>
      {#if selectedTab === "Notes" && isValidMarkdown(log.notes)}
        <div class="flex flex-col h-full w-full rounded-md overflow-auto">
          <Markdown
            md={log.notes}
            params={{
              isReadOnly: true,
              actions: ["copy"],
              title: "Think Notes"
            }}
          />
        </div>
      {:else if selectedTab === "Notes"}
        <EmptyStatusView
          size={Size.sm}
          subText="No notes taken during this session"
        />
      {:else}
        <div class="flex flex-col gap-6 overflow-auto w-full flex-grow">
          <LogTotals {log} />
          <div class="flex flex-col items-start gap-2 w-full">
            <Text content="Focus items" style={TextStyle.SECTION_HEADING} />
            <div class="flex flex-col gap-2 h-full w-full pb-40">
              {#if focusItems.length}
                {#each focusItems as item, index (item)}
                  <FocusItem {item} contxt="history" />
                {/each}
              {:else}
                <EmptyStatusView
                  size={Size.sm}
                  {isLoadingState}
                  subText="No focus items found"
                />
              {/if}
            </div>
          </div>
        </div>
      {/if}
    </div>
    <ModalFooter
      primaryAction={{
        label: "Delete log",
        icon: "trash",
        variant: ButtonVariant.DANGER,
        callback: async () => {
          runAction(PointronEventEnum.DELETE_SESSION, { id: log.id });
        }
      }}
      secondaryAction={{ label: "Close" }}
      on:close={(event) => {
        if (event.detail === "primary") return;
        modalEvent.hideSpecific(PointronEventEnum.SESSION_LOG_MODAL);
      }}
    />
  </div>
{:else}
  <EmptyStatusView
    {isLoadingState}
    mainText="Session log not found"
    loadingText="Loading..."
  />
{/if}
