<script lang="ts">
  import { sessionStore } from "$lib/local/stores/session.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { SessionType } from "$lib/local/components/logs/log.type";
  import Button from "$lib/tidy/elements/button/Button.svelte";
  import { appStore } from "$lib/tidy/stores/app.store";
  import view from "$lib/tidy/stores/view.store";
  import { LaunchContext } from "$lib/tidy/types/appStore.type";
  import { Direction } from "$lib/tidy/types/direction.enum";
  import { runAction } from "$lib/tidy/utils/utils";
  export let isInFullScreen: boolean = false;
  let toolTipPlacement = Direction.Up;

  function onFullScreenToggle() {
    if (!isInFullScreen) {
      appStore.showFullScreenPlayer(PointronEventEnum.FULL_SCREEN_FOCUS);
    } else {
      appStore.hideFullScreenPlayer();
    }
  }
</script>

<div
  class="flex gap-4 rounded-full border border-brs3 p-2 w-full justify-around"
>
  <!-- <Button
    icon="music"
    {size}
    tooltip="Background music"
    {toolTipPlacement}
    on:click={() => runAction(PointronEventEnum.BACKGROUND_MUSIC)}
  /> -->
  <Button
    icon="zen"
    tooltip="Think mode"
    {toolTipPlacement}
    on:click={() => {
      runAction(PointronEventEnum.THINK_MODE);
    }}
  />
  {#if $sessionStore.type != SessionType.PREDEFINED_INTERVALS}
    <Button
      icon="cross-circled"
      tooltip="Abandon focus session"
      {toolTipPlacement}
      on:click={() => {
        runAction(PointronEventEnum.ABANDON_SESSION);
      }}
    />
  {/if}
  {#if !$view.isPortrait && $appStore.launchContext != LaunchContext.EMBED}
    <Button
      icon="pip"
      tooltip="Picture in picture"
      {toolTipPlacement}
      on:click={() => {
        appStore.togglePip(PointronEventEnum.FOCUS_PLAYER);
      }}
    />
  {/if}
  <Button
    icon="settings"
    tooltip="Session settings"
    {toolTipPlacement}
    on:click={() => {
      runAction(PointronEventEnum.SESSION_SETTINGS_MODAL);
    }}
  />
  <Button
    icon={isInFullScreen ? "collapse" : "full-screen"}
    tooltip={isInFullScreen ? "Exit full screen" : "Full screen"}
    {toolTipPlacement}
    on:click={onFullScreenToggle}
  />
</div>
