<script lang="ts">
  import { sessionStore } from "$lib/local/stores/session.store";
  import Markdown from "$lib/tidy/components/markdown/Markdown.svelte";
</script>

<Markdown
  bind:md={$sessionStore.notes}
  parentBackgroundIndex={2}
  params={{
    placeholder: "Start typing...",
    actions: ["copy"],
    title: "Notes",
    isReadOnly: false,
    canUseSlashShortcut: false
  }}
  on:change={(e) => {
    sessionStore.persist(true);
  }}
/>
