<script lang="ts">
  import Button from "$lib/tidy/elements/button/Button.svelte";
  import TypewritingText from "$lib/tidy/elements/text/animatingText/TypewritingText.svelte";
  import view from "$lib/tidy/stores/view.store";
  import modalEvent from "$lib/tidy/components/modal/modal.store";
  import { Size } from "$lib/tidy/types/size.enum";
  import FocusPlayerTimeText from "./player/FocusPlayerTimeText.svelte";
  import FocusNotes from "./FocusNotes.svelte";
</script>

<div
  class="w-full h-full bg-bgs1 flex flex-col justify-between items-center p-8"
>
  <div
    class="w-full text-h5 flex-grow flex justify-center {$view.isPortrait &&
      'flex-col'}"
  >
    <div class={$view.isPortrait ? "h-2/5" : "w-1/2"}>
      <TypewritingText text="Thinking..." />
    </div>
    <div
      class="bg-bgs2 p-6 rounded-md flex flex-col items-start {$view.isPortrait
        ? 'h-2/5'
        : 'w-1/2'}"
    >
      <FocusNotes />
    </div>
  </div>
  <div class="flex w-full text-b2 text-fgs3 justify-between items-center">
    <FocusPlayerTimeText />
    <div>
      <Button
        label="close"
        size={Size.sm}
        on:click={() => {
          modalEvent.hide();
        }}
      />
    </div>
  </div>
</div>
