<script lang="ts">
  import { sessionStore } from "$lib/local/stores/session.store";
  import { BlockType } from "$lib/local/types/session.type";
  import { Size } from "$lib/tidy/types/size.enum";
  import { TimeFormat } from "$lib/tidy/types/time.type";
  import { formatSeconds } from "$lib/tidy/utils/time.utils";
  import SessionStatusLabel from "../elements/sessionTimeText/SessionStatusLabel.svelte";
</script>

<div class="flex flex-col items-start">
  <div class="flex w-48">
    {#if $sessionStore.timeRemainingToTakeBreak != undefined && $sessionStore.timeRemainingToTakeBreak < 0}
      <div class="animate-pulse">BREAK REMINDER</div>
    {:else if $sessionStore.currentLog.taskName && $sessionStore.currentBlock.type === BlockType.FOCUS}
      <div class="text-left truncate">
        {$sessionStore.currentLog.taskName ?? ""}
      </div>
    {:else}
      <SessionStatusLabel size={Size.sm} isDefaultColor={true} />
    {/if}
  </div>

  <div class="font-medium text-h3">
    {formatSeconds($sessionStore.timeElapsed, TimeFormat.CLOCK)}
  </div>
</div>
