<script lang="ts">
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import ActiveBackgroundElement from "$lib/tidy/elements/style/ActiveBackgroundElement.svelte";
  import FormControlLabel from "$lib/tidy/elements/text/formLabel/FormControlLabel.svelte";
  import { formatSeconds } from "$lib/tidy/utils/time.utils";
  import { createEventDispatcher, onMount } from "svelte";
  const dispatch = createEventDispatcher();
  export let selectedItem: number = 0;
  onMount(() => {
    $userLocalPreferences.manualEntryQuickDurations = [];
    if (
      !$userLocalPreferences.manualEntryQuickDurations ||
      $userLocalPreferences.manualEntryQuickDurations.length === 0
    ) {
      $userLocalPreferences.manualEntryQuickDurations = [10, 15, 30, 60, 120];
    }
  });
</script>

{#if $userLocalPreferences.manualEntryQuickDurations && $userLocalPreferences.manualEntryQuickDurations.length > 0}
  <div class="flex-col items-start flex w-full gap-2">
    <FormControlLabel props={{ label: "Quick add" }} />
    <div class="w-full flex justify-between gap-3 pr-10 overflow-x-auto">
      {#each $userLocalPreferences.manualEntryQuickDurations as item}
        <ActiveBackgroundElement
          class="px-3 py-1 rounded-md min-w-fit bg-bgs2"
          isBackgroundActive={item === selectedItem}
          on:click={() => {
            selectedItem = item;
            dispatch("select", item);
          }}
        >
          last
          {formatSeconds(item * 60)}
        </ActiveBackgroundElement>
      {/each}
    </div>
  </div>
{/if}
