<script lang="ts">
  import OAuthRedirect from "$lib/tidy/components/settings/account/OAuthRedirect.svelte";
  import view from "$lib/tidy/stores/view.store";
  view.toggleMenuVisibility(true);
</script>

<OAuthRedirect />
