<script lang="ts">
  import DropDown from "$lib/tidy/elements/dropdown/DropDown.svelte";
  import { appConstants } from "$lib/tidy/stores/app.store";
  import { InputStyle } from "$lib/tidy/types/input.type";
  let items = appConstants.colorSchemes.map((x) => ({
    value: x.tailwindSelector,
    label: x.label + " " + (x.isDark ? "dark" : "light")
  }));
  let className: string = items[0].value;
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<div
  class={className +
    " flex flex-col justify-around items-center bg-bgs1 border border-fgs1"}
  style="min-width:320px; min-height:500px"
  on:click|stopPropagation
>
  <!-- Note Clicks must be made outside of the theme wrapper for those to be detected by the document's click eventlistners -->
  <div style="width:70%;">
    <DropDown
      on:select={(e) => (className = e.detail)}
      {items}
      value={items[5].value}
      style={InputStyle.BORDERED}
    />
  </div>
  <slot />
</div>
