<script lang="ts">
  import {
    pointronEvents,
    userLocalPreferences
  } from "$lib/local/stores/local.store";
  import view from "$lib/tidy/stores/view.store";
  import { borderClass } from "$lib/tidy/utils/theme.utils";
  import { onMount } from "svelte";
  import HorizonChart from "./page/AnalyticsChart.svelte";
  import { AnalyticsPersistance } from "$lib/local/stores/analytics.persistance";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import type { HorizonChartDataRecord } from "$lib/local/types/analytics.type";
  import appearance from "$lib/tidy/stores/appearance.store";
  export let chartData:
    | {
        charts: HorizonChartDataRecord[][];
        colors: { label: string; color: number }[];
      }
    | undefined = undefined;
  const aggPersistance = new AnalyticsPersistance();
  onMount(async () => {
    const eventSub = pointronEvents.subscribe(async (x) => {
      if (x.event === PointronEventEnum.REFRESH_HORIZON_CHARTS) {
        await refresh();
      }
    });
    if (!chartData) {
      await refresh();
    }
    return () => {
      eventSub();
    };
  });
  async function refresh() {
    chartData = await aggPersistance.fetchAnalytics(
      $userLocalPreferences.horizonCharts
    );
  }
  //$: {
  // console.log({ testing: $userLocalPreferences.horizonCharts });
  // }
</script>

{#if chartData}
  {#if $view.isPortrait}
    <div class="w-full flex flex-col gap-2">
      {#each $userLocalPreferences.horizonCharts as chart, index ({ chart })}
        <div
          class="w-full min-h-[24rem] border-b border-bgs3 {index == 3
            ? 'mb-32'
            : ''}"
        >
          <HorizonChart
            {chart}
            rawData={chartData.charts[index]}
            goalColors={chartData.colors}
          />
        </div>
      {/each}
    </div>
  {:else}
    <div class="grow w-full flex flex-wrap">
      {#each $userLocalPreferences.horizonCharts as chart, index ({ chart })}
        <div
          class="w-1/2 h-1/2 min-h-1/2 max-h-96 {index == 0 || index === 2
            ? `border-r ${borderClass($appearance)}`
            : ''} {index == 0 || index === 1
            ? `border-b ${borderClass($appearance)}`
            : ''}"
        >
          <HorizonChart
            {chart}
            rawData={chartData.charts[index]}
            goalColors={chartData.colors}
          />
        </div>
      {/each}
    </div>
  {/if}
{/if}
