<script lang="ts">
  import view from "$lib/tidy/stores/view.store";
  import SubGoalListItem from "./SubGoalListItem.svelte";
  import { currentGoal } from "$lib/local/stores/goal.store";
  import Text from "$lib/tidy/elements/text/Text.svelte";
  import { TextStyle } from "$lib/tidy/types/text.enum";
  import { isValidArrayWithData } from "$lib/tidy/utils/obj.utils";
  import EmptyStatusView from "$lib/tidy/elements/feedback/EmptyStatusView.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import Divider from "$lib/tidy/elements/Divider.svelte";
  import { ColorStrength } from "$lib/tidy/types/appearance.type";
  import AddNewSubGoal from "./AddNewSubGoal.svelte";

  let isArchivedGoalsVisible: boolean = false;

  function toggleArchivedVisibility() {
    isArchivedGoalsVisible = !isArchivedGoalsVisible;
  }
</script>

<div class="flex flex-col gap-4 items-start bg-bgs2 rounded-md p-4">
  <Text content="Sub goals" style={TextStyle.PANEL_HEADING_SMALL} />
  <div class="flex flex-col gap-4 w-full">
    {#if isValidArrayWithData($currentGoal.subGoals)}
      <div class="flex flex-col w-full">
        {#each $currentGoal.subGoals.filter((item) => !item.isArchived && item) as item}
          <SubGoalListItem on:click={() => view.gotoPath(`/goals/${item.id}`)}
            >{item.label}
          </SubGoalListItem>
        {/each}
      </div>
    {:else}
      <EmptyStatusView subText="No sub goals found" size={Size.sm} />
    {/if}
    <div class="flex flex-col">
      <Divider colorStrength={ColorStrength.Strong} />
      <AddNewSubGoal />
    </div>
  </div>

  {#if $currentGoal.archivedSubGoalCount > 0}
    <button
      on:click={toggleArchivedVisibility}
      class="cursor-pointer flex items-center gap-2 py-3 m-auto mt-5"
    >
      <h3 class="text-fgs3 uppercase text-b2">
        {isArchivedGoalsVisible ? `HIDE` : "SHOW"} Archived ( {$currentGoal.archivedSubGoalCount}
        goals )
      </h3>
      <div
        class={`inverted-triangle-path w-2.5 h-2 bg-fgs3 ${
          isArchivedGoalsVisible ? `rotate-[180deg]` : ``
        }`}
      />
    </button>
  {/if}
  {#if isArchivedGoalsVisible}
    <div class="flex flex-col w-full">
      {#each $currentGoal.subGoals.filter((item) => item.isArchived && item) as item}
        <SubGoalListItem on:click={() => view.gotoPath(`/goals/${item.id}`)}
          >{item.label}
        </SubGoalListItem>
      {/each}
    </div>
  {/if}
</div>

<style>
  .inverted-triangle-path {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  }
</style>
