<script lang="ts">
  import view from "$lib/tidy/stores/view.store";
  import modalEvent from "$lib/tidy/components/modal/modal.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import Button from "$lib/tidy/elements/button/Button.svelte";
  import { Persistance } from "$lib/tidy/stores/persistance";
  import Autocomplete from "$lib/tidy/elements/autocomplete/Autocomplete.svelte";
  import { GoalPersistance } from "$lib/local/stores/goal.persistance";
  import type { Goal } from "$lib/local/types/goal.type";
  import { onMount } from "svelte";
  import type { AutocompleteListItemType } from "$lib/tidy/types/autocompleteListItem.type";
  import { pointronEvents } from "$lib/local/stores/local.store";
  import { Size } from "$lib/tidy/types/size.enum";
  import { currentGoal } from "$lib/local/stores/goal.store";

  export let id: string; // id of the goal to be converted to subgoal

  let inputValue: string = "";
  let selectedGoalId: string = "";

  let allGoals: AutocompleteListItemType[] = [];
  let tempGoals: AutocompleteListItemType[] = [];

  let value: AutocompleteListItemType;

  const persistance = new Persistance();
  const goalPersistance = new GoalPersistance();

  async function onConvert() {
    if (!selectedGoalId) return;
    const response = await goalPersistance.convertToSubGoal(id, selectedGoalId);
    currentGoal.propagateChangesTemp();
    pointronEvents.notify(PointronEventEnum.SUCCESSFUL_CONVERSION_TO_SUBGOAL);
    onClose();
  }

  function handleFocus() {
    tempGoals = allGoals;
  }

  function handleGoalSelect({ detail }: CustomEvent) {
    inputValue = detail.title;
    selectedGoalId = detail.id;
    onConvert();
  }

  function onClose() {
    modalEvent.hide();
  }

  onMount(() => {
    // console.log("hello");
    //setAllGoals();
  });
</script>

<div class="bg-transparent">
  <Autocomplete
    inputClassList={`text-fgs2 bg-bgs3 ${
      $view.isPortrait ? `` : `min-w-[20rem]`
    }`}
    on:focus={handleFocus}
    on:list-item-click={handleGoalSelect}
    on:reset={onClose}
    options={tempGoals}
    listContainerStyle={`position:relative;`}
    bind:inputValue
    bind:value
  />
</div>
