<!-- DraggableItem.svelte -->
<script lang="ts">
    import { onDestroy } from "svelte";
    export let item: any;
    export let onDrop: (item: any) => void;
    export let onDrag: (item: any) => void;

    let dragged: boolean = false;

    const handleDragStart = () => {
        dragged = true;
        onDrag(item);
    };
    const handleDragEnter = () => {
    };
    const handleDragEnd = () => {
        dragged = false;
    };

    const handleDrop = () => {
        if (dragged) {
            onDrop(item);
        } else {
            onDrop(item);
        }
    };
    function onDragOver(event: any) {
        event?.preventDefault();
    }
    onDestroy(() => {
        dragged = false;
    });
</script>

<div
    class="bg-bgs4 p-4 cursor-move"
    draggable="true"
    on:dragstart={handleDragStart}
    on:dragend={handleDragEnd}
    on:dragover={onDragOver}
    on:dragenter={handleDragEnter}
    on:drop={handleDrop}
>
    {item}
</div>
