<script lang="ts">
  import ComingSoonView from "$lib/tidy/elements/ComingSoonView.svelte";
  import Text from "$lib/tidy/elements/text/Text.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { TextStyle } from "$lib/tidy/types/text.enum";
</script>

<div class="bg-bgs2 rounded-md p-4 pb-8">
  <Text content="Insights" style={TextStyle.PANEL_HEADING_SMALL} />
  <ComingSoonView size={Size.sm} />
</div>
