<script lang="ts">
  import { onMount } from "svelte";
  import {
    pointronEvents,
    userLocalPreferences
  } from "$lib/local/stores/local.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import type { PointronEvent } from "../types/pointronEvent.type";
  import { runAction } from "$lib/tidy/utils/utils";

  let src: string | null = null;
  let body: string = "";
  let audio: any;

  onMount(() => {
    const pointronEventSub = pointronEvents.subscribe(
      (event: PointronEvent) => {
        src = null;
        switch (event.event) {
          case PointronEventEnum.BREAK_ENDED:
            src = $userLocalPreferences.breakEndSound ?? "/sounds/ping.wav";
            runAction(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
            body = "Break ended";
            break;
          case PointronEventEnum.INTERVAL_ENDED:
            src = $userLocalPreferences.focusEndSound ?? "/sounds/ping.wav";
            runAction(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
            body = "Interval ended";
            break;
          case PointronEventEnum.BREAK_REMINDER:
            src = $userLocalPreferences.focusEndSound ?? "/sounds/ping.wav";
            body = "Interval time limit reached";
            runAction(PointronEventEnum.BREAK_REMINDER);
            break;
          // case PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER:
          //   runAction(PointronEventEnum.PREDEFINED_INTERVAL_NOTIFIER);
          //   break;
          case PointronEventEnum.SESSION_FINISHED:
            src =
              $userLocalPreferences.sessionFinishSound ??
              "/sounds/dingding.mp3";
            runAction(PointronEventEnum.SESSION_FINISHED);
            break;
          case PointronEventEnum.SESSION_TIME_IS_UP:
            src =
              $userLocalPreferences.sessionFinishSound ??
              "/sounds/dingding.mp3";
            body = "Session finished";
            break;
        }
        if (src) {
          setTimeout(() => {
            // const notification = new Notification("Pointron session", {
            //   body,
            //   icon: "",
            // });
            console.log("playing sound", { event, src });
            audio?.play();
            setTimeout(() => {
              src = null;
              pointronEvents.reset();
            }, 2000);
          }, 200);
        }
      }
    );
    return () => {
      pointronEventSub();
    };
  });
</script>

<audio bind:this={audio} {src} />
