<script lang="ts">
  import { LocalPersistance } from "$lib/local/stores/local.persistance";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import Button from "$lib/tidy/elements/button/Button.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { runAction } from "$lib/tidy/utils/utils";
  const localPersistance = new LocalPersistance();
  export let isExpandedMode: boolean = false;
</script>

<div class="flex gap-4">
  <Button
    icon="sync"
    label={isExpandedMode ? "sync" : undefined}
    size={isExpandedMode ? Size.xs : Size.md}
    on:click={async () => {
      await localPersistance.syncFocusState();
    }}
  />
  <Button
    icon="history"
    label={isExpandedMode ? "logs" : undefined}
    size={isExpandedMode ? Size.xs : Size.md}
    on:click={() => {
      runAction(PointronEventEnum.LOGS);
    }}
  />
</div>
