<script lang="ts">
  import { borderClass } from "$lib/tidy/utils/theme.utils";
  import { ColorStrength } from "$lib/tidy/types/appearance.type";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { runAction } from "$lib/tidy/utils/utils";
  import appearance from "$lib/tidy/stores/appearance.store";
  export let label: string | undefined = undefined;
  export let id: string | undefined = undefined;
  export let isAddNew: boolean = false;
  function onClick() {
    if (isAddNew) {
      runAction(PointronEventEnum.ADD_TAG);
    } else {
      runAction(PointronEventEnum.EDIT_TAG, { id });
    }
  }
</script>

<button
  class="px-2 py-1 rounded-md border {borderClass(
    $appearance,
    ColorStrength.Strong
  )}"
  on:click={onClick}
>
  {#if label}
    {label}
  {:else if isAddNew}
    <span class="text-aps1"> + Add new tag</span>
  {/if}
</button>
